body {
    background-color: #e8d7c3; 
    color: #333;             
   font-family: Arial;        
}
#div-one {
    position: relative;
    top: 20px;
    background-color: white;
    color: #8b7355;
    padding: 10px;
}

#div-two {
    border: 5px solid white;
    margin: 20px;
    padding: 20px;
}

#div-three {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
}

h1 {
    text-decoration: underline;
    text-align: center;
}